body{
    margin: 0;padding: 0;
    background: rgb(244, 244, 242);
    font-family: sans-serif;

}

.nav_Bar{
    height: 10vh;
    width: 100%;
    border: 1px solid black;
    background: rgb(26, 26, 27);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}

.logo{
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    margin-left: 0.8rem;
}

.nav_links ul{
    display: flex;
    margin-right: 0.6rem;
}

.nav_links ul li{
    list-style: none;
    margin: 0 6px 0 6px;
}

.nav_links ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.nav_links ul li a:hover{
    color: rgb(255, 67, 67);
}